<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    
    <table>
    	<th:block th:each="cats: ${categorias}">
    		<tr>
	    		<td th:text="${cats.catNombre}"></td>
	    		<td th:text="${cats.catFoto}"></td>
	    		<td th:text="${cats.catDescripcion}"></td>
	    	</tr>	
    	</th:block>
    </table>
</body>
</html>